<div id="footer" class="footer__container">
  <div class="container">
    {%- if section.blocks != blank -%}
      <div class="footer__top">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'about' -%}
              <section class="footer__section">
                {%- if block.settings.about_heading != blank -%}
                  <h2 class="footer__heading heading heading--s">{{- block.settings.about_heading | escape -}}</h2>
                {%- endif -%}

                <address class="address">
                  <div class="address__location">
                    {{ block.settings.about_text }}
                  </div>

                  <ul class="icon-list" role="list">
                    {%- if block.settings.link_Facebook != blank -%}
                      <li class="icon-list__item">
                        <a href="{{ block.settings.link_Facebook }}" class="icon-list__link">
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                          <svg
                            class="social-icon icon"
                            xmlns="http://www.w3.org/2000/svg"
                            width="10"
                            height="20"
                            fill="none"
                          >
                            <path
                              fill="currentColor"
                              fill-rule="evenodd"
                              d="M9.027 9.982H6.429V19.5H2.492V9.982H.62V6.637h1.872V4.472C2.492 2.924 3.228.5 6.464.5L9.38.512V3.76H7.264c-.347 0-.835.174-.835.912V6.64h2.942l-.344 3.342Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </a>
                      </li>
                    {%- endif -%}

                    {%- if block.settings.link_Instagram != blank -%}
                      <li class="icon-list__item">
                        <a href="{{ block.settings.link_Instagram }}" class="icon-list__link">
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                          <svg
                            class="social-icon icon"
                            width="20"
                            height="20"
                            viewBox="0 0 20 20"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M14.7071 0.5C17.3502 0.5 19.5 2.65013 19.5 5.29293V14.7071C19.5 17.3502 17.3502 19.5 14.7071 19.5H5.29293C2.65013 19.5 0.5 17.3502 0.5 14.7071V5.29293C0.5 2.65013 2.65013 0.5 5.29293 0.5H14.7071ZM14.7071 2.56779H5.29293C3.7903 2.56779 2.56779 3.7903 2.56779 5.29293V14.7071C2.56779 16.2097 3.7903 17.4326 5.29293 17.4326H14.7071C16.2097 17.4326 17.4326 16.21 17.4326 14.7071V5.29293C17.4326 3.7903 16.21 2.56779 14.7071 2.56779ZM10 5.10678C12.6984 5.10678 14.8936 7.30195 14.8936 10C14.8936 12.698 12.698 14.8936 10 14.8936C7.30195 14.8936 5.10678 12.6984 5.10678 10C5.10678 7.30195 7.30195 5.10678 10 5.10678ZM10 7.17456C8.44247 7.17456 7.17421 8.44212 7.17421 9.99965C7.17421 11.5579 8.44247 12.8258 10 12.8258C11.5582 12.8258 12.8254 11.5579 12.8254 9.99965C12.8254 8.44247 11.5579 7.17456 10 7.17456ZM15.0509 3.80297C15.6892 3.80297 16.2086 4.32238 16.2086 4.96073C16.2086 5.59909 15.6892 6.1185 15.0509 6.1185C14.4122 6.1185 13.8928 5.59909 13.8928 4.96073C13.8928 4.32238 14.4122 3.80297 15.0509 3.80297Z"
                              fill="currentColor"
                            />
                          </svg>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </address>
              </section>
            {%- when 'menu' -%}
              {%- if block.settings.menu_link_list != blank -%}
                <section class="footer__section">
                  {%- if block.settings.menu_heading != blank -%}
                    <h2 class="footer__heading heading heading--s">{{ block.settings.menu_heading | escape }}</h2>
                  {%- endif -%}
                  <ul class="footer-navigation" role="list">
                    {%- for link in block.settings.menu_link_list.links -%}
                      <li class="footer-navigation__item">
                        <a href="{{ link.url }}" class="footer-navigation__link">{{ link.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </section>
              {%- endif -%}
            {%- when 'links' -%}
              {%- if block.settings.useful_link_list != blank -%}
                <section class="footer__section">
                  {%- if block.settings.useful_links_heading != blank -%}
                    <h2 class="footer__heading heading heading--s">{{ block.settings.useful_links_heading | escape }}</h2>
                  {%- endif -%}
                  <ul class="footer-navigation" role="list">
                    {%- for link in block.settings.useful_link_list.links -%}
                      <li class="footer-navigation__item">
                        <a href="{{ link.url }}" class="footer-navigation__link">{{ link.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </section>
              {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
    <div class="footer__bottom">
      <section class="footer__section">
        <h2 class="visually-hidden">{{ 'sections.footer.copyright.label' | t}}</h2>
        <p>
          <small class="copyright-text">&copy; {{ shop.name | link_to: '/' }} <time datetime="{{ "now" | date: "%Y" }}">{{ "now" | date: "%Y" }}</time></small>
        </p>
      </section>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "alternate-footer",
  "tag": "footer",
  "max_blocks": 4,
  "blocks": [
    {
      "type": "about",
      "name": "About",
      "settings": [
        {
          "type": "text",
          "id": "about_heading",
          "label": "Heading",
          "default": "About"
        },
        {
          "type": "richtext",
          "id": "about_text",
          "label": "Description",
          "default": "<p>Susparsa Store<br>Geneva, Switzerland</p>"
        },
        {
          "type": "text",
          "id": "link_Facebook",
          "label": "Link Facebook",
          "default": "/facebook"
        },
        {
          "type": "text",
          "id": "link_Instagram",
          "label": "Link Instagram",
          "default": "/instagram"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_heading",
          "label": "Heading",
          "default": "Company"
        },
        {
          "type": "link_list",
          "id": "menu_link_list",
          "default": "main-menu",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "links",
      "name": "Links",
      "settings": [
        {
          "type": "text",
          "id": "useful_links_heading",
          "label": "Heading",
          "default": "Useful Links"
        },
        {
          "type": "link_list",
          "id": "useful_link_list",
          "label": "Menu",
          "default": "main-menu"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
